parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to float\\.$#"
			count: 1
			path: src/Globals/Boolean.php

		-
			message: "#^Function Symbol\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Globals/Symbol.php
