includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-errors.neon

parameters:
  level: max
  phpVersion: 70100
  paths:
    - src
  excludePaths:
    - src/Overloads1
    - src/Overloads2
    - src/Overloads3
    - src/Overloads4
  treatPhpDocTypesAsCertain: false
